.navbar_container {
  border-bottom: 3px solid white;

  .navbar-nav {
    a {
      color: white;
      font-family: "Encode Sans Expanded";
      font-style: normal;
      font-weight: 500;
    }
  }

  .logo_text {
    font-family: "Encode Sans Expanded";
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.085em;
  }
}
