.page2_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 20vh;
  padding: 10%;

  .page2_text {
    font-size: 3.5vw;
    text-align: center;
    font-family: "Gruppo";
    font-style: normal;
    font-weight: 400;
    line-height: 4rem;

  }
}
